{# Is the current team trusted? #}
{% set trusted_teams = ['cx', 'executive' ] %}
{% set is_trusted_team = COMPILE_CONTEXT.securityContext.team in trusted_teams %}

{# Convenient function to mask values if the current team is not trusted #}
{% macro masked(sql, is_visible) -%}
{{ sql if is_visible else "\"'--- masked ---'\"" }}
{%- endmacro %} 

cubes:
  - name: dimcustomer
    sql_table: cube_poc.cube_poc_schema.dimcustomer

    joins:
      - name: factinternetsales
        sql: "{CUBE}.customerkey = {factinternetsales}.customerkey"
        relationship: one_to_many

    dimensions:
      - name: customerkey
        sql: customerkey
        type: number
        primary_key: true

      - name: geographykey
        sql: geographykey
        type: number

      - name: occupation
        sql: occupation
        type: string

      - name: gender
        {# Masked from untrusted teams #}
        sql: {{ masked('gender', is_trusted_team) }}
        type: string

      - name: firstname
        {# Masked from untrusted teams #}
        sql: {{ masked('firstname', is_trusted_team) }}
        type: string

      - name: lastname
        {# Masked from untrusted teams #}
        sql: {{ masked('lastname', is_trusted_team) }}
        type: string

    measures:
      - name: count
        type: count
        {# Only accessible to trusted teams #}
        public: {{ is_trusted_team }}